
.item {
  position: relative;
  background-color: #EEE;
  margin: .5em;
  border-radius: 4px;
  padding: 15px 10px;
}

@media (max-device-width: 640px) {
  .item {
    padding: 8px 10px;
  }
}

.item:hover {
  color: #5d6269;
  background-color: #DDD;
}

.item .check-btn {
  border: 0;
  background-color: transparent;
  color: darkgray;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  outline: none;
  vertical-align: middle;
}

.item.status-done .check-btn {
  color: #50c600;
}

.item:hover .check-btn {
  color: #50c600;
}

.item .remove-btn {
  border: 0;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.item:hover .remove-btn {
  color: lightcoral;
  display: inline-block;
  outline: none;
}

.item .remove-btn:hover {
  color: red;
  display: inline-block;
}

.item .remove-btn[hidden] {
  display: none;
}

@media only screen and (max-device-width: 640px) {
  .item .remove-btn[hidden] {
    display: inline-block;
  }
}


.item .edit-lbl {
  margin-left: 10px;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
  margin-bottom: 0;
}

.item.status-done .edit-lbl {
  text-decoration: line-through;
}

.item .form-control  {
  margin-left: 10px;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0 0;
  height: inherit;
}

.item .form-group  {
  margin-bottom: 5px;
}

.item .add-to-list {
  display: inline-block;
}

.item .label-error{
  color: red;
}
