
.item {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  border-radius: 4px;
  padding: 15px 10px;
}

.item:hover {
  color: #5d6269;
  background-color: #DDD;
}

.fa-check {
  color: darkgray;
  padding: 5px;
}

.fa-check:hover {
  color: #50c600;
}

.item .remove-btn {
  border: 0;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.item:hover .remove-btn {
  color: lightcoral;
  display: inline-block;
}


.item .remove-btn:hover {
  color: red;
  display: inline-block;
}



.item .edit-lbl {
  margin-left: 10px;
  font-size: 28px;
}

