.list {
  margin: auto;
  width: 60%;
  position: relative;
}

@media only screen and (max-device-width: 640px) {
  .list {
    width: 100%;
  }
}

.list .add-to-list {
  position: relative;
  background-color: #dcdcdc;
  margin: .5em;
  border-radius: 4px;
  padding: 10px 10px 10px 50px
}

.add-to-list input.form-control {
  font-size:  2rem;
  height: auto;
  background-color: #00000005;
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.add-to-list .form-group {
  margin-bottom: 0;
}

.form-control:focus {
  background-color: #66afe9;
  border: 1px solid #ccc
}

.fa-angle-double-right {
  color: darkgray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
