<div style="text-align:center">
  <h1>{{ list.name | uppercase }}</h1>
</div>

<div class="list">

  <div class="add-to-list">

    <i class="fas fa-angle-double-right fa-2x"></i>

    <form (ngSubmit)="onAddToList()" #addToListForm="ngForm" autocomplete="off">

      <div class="form-group">
        <input type="text" class="form-control" id="addToDo" name="addToDo" placeholder="Add TODO"  [(ngModel)]="item.name">
      </div>

    </form>
  </div>

  <app-item *ngFor="let item of list.items" [item]="item" (onRemove)="onRemoveItem($event)" (onCheck)="onCheckItem($event)"></app-item>
</div>

